* {
    box-sizing: border-box;
}

body {
    background-image: url("images/img.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.flex-container {
    display: flex;
    background-color: #ff3333;
    padding: 5px;
}

a {
    margin-left: 10px;
    font-size: 20px;
}

[class*="col-"] {
    text-align: center;
    padding: 5px;
    height: 300px;
}

.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33%;
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;
}
.col-7 {
    width: 58.33%;
}
.col-8 {
    width: 66.66%;
}
.col-9 {
    width: 75%;
}
.col-10 {
    width: 83.33%;
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}

@media only screen and (max-width: 600px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
        height: auto;
    }
}

.mySlides {
    width: 100%;
    height: 100%;
}

.btn {
    width: 100%;
    height: 65px;
    background-color: rgba(65, 105, 225, 0.8);
    border: none;
    border-radius: 10px;
    color: white;
    font-family: cursive;
    font-size: 25px;
}

.btn:hover {
    cursor: pointer;
}
