.cont {
	background-color: #eaecee;
}
#demo {
	z-index: 1;
}
.carousel-inner img {
	width: 100%;
	height: 100%;
}
.location {
	width: 100%;
	color: white;
	position: absolute;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}
#paraToggle {
	cursor: pointer;
	text-align: center;
	color: red;
}
.cust-img:hover {
	opacity: 0.7;
}
.intro-text {
	text-align: justify;
}
#myUL {
	/* Remove default list styling */
	width: 20%;
	right: 10%;
	top: 9%;
	list-style-type: none;
	position: absolute;
	z-index: 2;
	display: none;
}

#myUL li a {
	border: 1px solid #ddd; /* Add a border to all links */
	margin-top: -1px; /* Prevent double borders */
	background-color: #f6f6f6; /* Grey background color */
	padding: 12px; /* Add some padding */
	text-decoration: none; /* Remove default text underline */
	font-size: 18px; /* Increase the font-size */
	color: black; /* Add a black text color */
	display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
	background-color: #eee; /* Add a hover effect to all links, except for headers */
}
